{% extends "base.html" %} 
{% block content %}

<div class="panel panel-default" id="loginForm">
     <form action="{{url_for('layout.new')}}" method="post">
        {{ form.hidden_tag() }}

        <table class="table table-borderless">
            <tr>
                <th>New Monkey</th>
            </tr>

            <tr>
                <td>{{ form.name.label }}</td>

                <td>{{ form.name }} {% if form.name.errors %} {% for error
                in form.name.errors %} <span style=
                "color: red">{{error}}</span> {% endfor %} {% endif %}</td>
            </tr>

            <tr>
                <td>{{ form.email.label }}</td>

                <td>{{ form.email }} {% if form.email.errors %} {% for
                error in form.email.errors %} <span style=
                "color: red">{{error}}</span> {% endfor %} {% endif %}</td>
            </tr>

            <tr>
                <td>{{ form.age.label }}</td>

                <td>{{ form.age }} {% if form.age.errors %} {% for error in
                form.age.errors %} <span style=
                "color: red">{{error}}</span> {% endfor %} {% endif %}</td>
            </tr>

            <tr>
                <td>{{form.submit}}</td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}