{% extends "layout.html" %}
  
{% block content %}
<h2>Contact</h2>
{% for message in form.name.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

  {% for message in form.email.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

  {% for message in form.age.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}
<form action="{{url_for('contact')}}" method=post>
  {{ form.hidden_tag() }}

     {{ form.name.label }}
     {{ form.name }}

     {{ form.email.label }}
     {{ form.email }}

     {{ form.age.label }}
     {{ form.age }}

     {{form.submit}}
</form>
{% endblock %}